{% extends "basef5.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
<div class="large-12 columns game-header">
<h1>{{gameObj.name}}</h1>
<h2>{{gameObj.description|safe}}</h2>
</div>
</div>

<div class="row">
<div class="large-8 columns">
<h3>{{message}}</h3>
</div>
<div class="large-4 columns">
<a href="{{url}}0" class="button">Start Over</a>
</div>
</div>

<div class="row game-board">
<div class="large-8 columns">
<div class="row">
<div class="small-4 columns square left top"><a href="{{url}}7" id="4">{{currentBoard.6}}</a></div>
<div class="small-4 columns square middle-top"><a href="{{url}}8" id="5">{{currentBoard.7}}</a></div>
<div class="small-4 columns square right top"><a href="{{url}}9" id="6">{{currentBoard.8}}</a></div>
</div>
<div class="row">
<div class="small-4 columns square middle-left"><a href="{{url}}4" id="4">{{currentBoard.3}}</a></div>
<div class="small-4 columns square center"><a href="{{url}}5" id="5">{{currentBoard.4}}</a></div>
<div class="small-4 columns square middle-right"><a href="{{url}}6" id="6">{{currentBoard.5}}</a></div>
</div>
<div class="row">
<div class="small-4 columns square left bottom"><a href="{{url}}1" id="1">{{currentBoard.0}}</a></div>
<div class="small-4 columns square middle-bottom"><a href="{{url}}2" id="2">{{currentBoard.1}}</a></div>
<div class="small-4 columns square right bottom"><a href="{{url}}3" id="3">{{currentBoard.2}}</a></div>
</div>
</div>
</div>

{% endblock content %}

{% block jquery %}

<script type="text/javascript">

/**
jQuery(document).ready(function(){

	var isComputerMove = '{{isComputerMove}}';

	if(parseInt(isComputerMove) == 1){ 

		var computerClick = '#{{computerMove}}';
	
		console.log('Computer Move: '+computerClick);
		
		/**
		jQuery('.game-board a').on('click',function(e){

			e.preventDefault();
		});
		
		//var reloadUrl = '{{url}}'+'{{computerMove}';

		setTimeout(function(){

			jQuery(computerClick).trigger('click');
		},2000);
	
	}
});
		*/

</script>

{% endblock jquery %}
